<h4>Assigned Tasks <i class="fas fa-tasks"></i></h4>
<hr />
<!-- Task status data -->
<div class="row" *ngIf="taskViewItems && taskViewItems.length > 0" style="margin-top: 1em;">
    <div class="col text-success font-weight-bold">Completed: {{ percentOfStatus(taskStatus.Completed) | percent }} </div>
    <div class="col text-warning font-weight-bold">In Progress: {{ percentOfStatus(taskStatus.InProgress) | percent }} </div>
    <div class="col text-danger font-weight-bold">Not Started: {{ percentOfStatus(taskStatus.NotStarted) | percent }} </div>
</div>

<!-- Add Task -->
<div *ngIf="!isReadOnly" style="margin-top: 1em;">
    <div class="form-row">
        <div class="form-group col-md-6">
            <input type="text" class="form-control" [(ngModel)]="taskText" placeholder="Add Task..." [disabled]="disableAddTask"/>
        </div>
        <div class="form-group col-md-2">
            <button type="button" style="margin-right: 5px;" class="btn btn-dark" (click)="addTask()" [disabled]="disableAddTask">{{ addTaskBtnText }}</button>
        </div>
    </div>
</div>

<!-- Task Listing -->
<div *ngIf="loadingTasks; else tasksView" style="text-align: center;">
    <p style="font-weight: bold; font-size: 1em;">Loading Tasks...</p>
</div>
<ng-template #tasksView>
    <ng-container
        *ngIf="taskViewItems && taskViewItems.length > 0; then tasksListing; else noTasks">
    </ng-container>
    <ng-template #tasksListing>
        <br/>
        <table class="table" *ngIf="!isReadOnly">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Completed</th>
                    <th *ngIf="!isReadonly"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of taskViewItems; let i = index;">
                    <ng-container 
                        *ngIf="!t.showEditView; then readonlyDisplay; else editDisplay">
                    </ng-container>
                    <ng-template #readonlyDisplay>
                        <!-- Readonly display -->
                        <td>{{ t.task.taskText }}</td>
                        <td>
                            <span *ngIf="t.task.status == taskStatus.NotStarted">Not Started</span>
                            <span *ngIf="t.task.status == taskStatus.InProgress">In Progress</span>
                            <span *ngIf="t.task.status == taskStatus.Completed">Completed</span>
                        </td>
                    </ng-template>
                    <ng-template #editDisplay>
                        <!-- Edit display -->
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="t.editText" [disabled]="t.disableEditInputs" />
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="t.editStatus" [disabled]="t.disableEditInputs">
                                <option *ngFor="let s of statusOptions" [ngValue]="s.Value">{{ s.Text }}</option>
                            </select>
                        </td>
                    </ng-template>
                    <td *ngIf="!isReadOnly">
                        <div *ngIf="t.showActions">
                            <button type="button" class="btn btn-sm btn-outline-dark" style="margin-right: 5px;" (click)="showEditView(t, i)">
                                <i class="far fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-outline-dark" (click)="deleteTask(t.task)">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </div>
                        <div *ngIf="t.showEditView">
                            <button type="button" class="btn btn-sm btn-outline-dark" style="margin-right: 5px" (click)="saveEditView(t, i)" [disabled]="t.disableEditInputs">{{ t.editBtnText }}</button>
                            <button type="button" class="btn btn-sm btn-outline-dark" (click)="hideEditView(t, i)" [disabled]="t.disableEditInputs">Cancel</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template #noTasks>
        <p class="text-muted" style="font-weight: bold; text-align: center;">No tasks data</p>
    </ng-template>
</ng-template>

    