<h4>Assigned Tasks</h4>
<hr />
<!-- Add Task -->
<div *ngIf="!isReadOnly" style="margin-bottom: 1em;">
    <button type="button" class="btn btn-sm btn-dark" (click)="showAddTask()" *ngIf="!showAddTaskDisplay">
        <i class="fas fa-plus"></i> Add New Task
    </button>
    <div *ngIf="showAddTaskDisplay">
        <div class="form-row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control" [(ngModel)]="taskText" placeholder="Add Task..."/>
            </div>
        </div>
        <button type="button" style="margin-right: 5px;" class="btn btn-dark btn-sm" (click)="addTask()" [disabled]="updateTaskBtnDisabled">{{ updateTaskBtnText }}</button>
        <button type="button" class="btn btn-dark btn-sm" (click)="closeAddTask()">Cancel</button>
    </div>
</div>
<!-- Task Listing -->
<div *ngIf="loadingTasks; else tasksview" style="text-align: center;">
    <p style="font-weight: bold; font-size: 1em;">Loading Tasks...</p>
</div>
<ng-template #tasksview>
    <div class="row">
        <div class="col text-success">Completed: {{ percentCompleted() }} </div>
        <div class="col text-warning">In Progress: {{ percentInProgress() }} </div>
        <div class="col text-danger">Not Started: {{ percentNotStarted() }} </div>
    </div>
    <table class="table" *ngIf="taskViewItems && taskViewItems.length > 0; else noTasks">
        <thead>
            <tr>
                <th>Task</th>
                <th>Completed</th>
                <th *ngIf="!isReadonly"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of taskViewItems; let i = index;">
                <ng-container 
                    *ngIf="!t.showEditView; then readonlyDisplay; else editDisplay">
                </ng-container>
                <ng-template #readonlyDisplay>
                    <!-- Readonly display -->
                    <td>{{ t.task.taskText }}</td>
                    <td>
                        <span *ngIf="t.task.status == taskStatus.NotStarted">Not Started</span>
                        <span *ngIf="t.task.status == taskStatus.InProgress">In Progress</span>
                        <span *ngIf="t.task.status == taskStatus.Completed">Completed</span>
                    </td>
                </ng-template>
                <ng-template #editDisplay>
                    <!-- Edit display -->
                    <td>
                        <input type="text" class="form-control" [(ngModel)]="t.editText" [disabled]="t.disableEditInputs" />
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="t.editStatus" [disabled]="t.disableEditInputs">
                            <option *ngFor="let s of statusOptions" [ngValue]="s.Value">{{ s.Text }}</option>
                        </select>
                    </td>
                </ng-template>
                <td *ngIf="!isReadOnly">
                    <div *ngIf="t.showActions">
                        <button type="button" class="btn btn-sm btn-outline-dark" style="margin-right: 5px;" (click)="showEditView(t, i)">
                            <i class="far fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-dark" (click)="deleteTask(t.task)">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                    <div *ngIf="t.showEditView">
                        <button type="button" class="btn btn-sm btn-outline-dark" style="margin-right: 5px" (click)="saveEditView(t, i)" [disabled]="t.disableEditInputs">{{ t.editBtnText }}</button>
                        <button type="button" class="btn btn-sm btn-outline-dark" (click)="hideEditView(t, i)" [disabled]="t.disableEditInputs">Cancel</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noTasks>
        <h4>No tasks to display.</h4>
    </ng-template>
</ng-template>
    